@import "macchiato.css";

* {
  font-family: "Hack Nerd Font Propo", Roboto, Helvetica, sans-serif;
  font-size: 18px;
}

window#waybar {
  background-color: @base;
  border-radius: 13px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
  /* padding: 1px 5px; */
  padding: 0 0.5em;
  background-color: transparent;
  /* color: @rosewater; */
  color: @text;
  margin: 0.25em;
}

#workspaces button.empty {
  color: @overlay0;
}

#workspaces button.visible {
  color: @blue;
  font-weight: bolder;
}

#workspaces button.active {
  color: @green;
  font-weight: bold;
  background-color: green;
  border-radius: 50%;
}

#workspaces button.urgent {
  background-color: @red;
  border-radius: 1em;
  color: @text;
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#pulseaudio {
  padding: 0 10px;
  color: @maroon;
}

#pulseaudio.muted {
  color: @overlay0;
}

/* #pulseaudio:hover {
  background-color: @base;
} */

#network {
  padding: 0 10px;
  color: @yellow;
}

#temperature {
  padding: 0 10px;
  color: @sky;
}

#battery {
  padding: 0 10px;
  color: @green;
}

#bluetooth {
  padding: 0 10px;
  color: @sky;
}

#tray {
  padding: 0 10px;
  color: @sky;
}

#bluetooth.off,
#bluetooth.disabled {
  color: @overlay0;
}

#clock {
  padding: 0 10px;
  color: @flamingo;
}

#cpu {
  padding: 0 10px;
  color: @peach;
}

#memory {
  padding: 0 10px;
  color: @green;
}

#window {
  color: @text;
}

.modules-right,
.modules-left,
.modules-center {
  background-color: @base;
  border-radius: 15px;
}
.modules-right {
  padding: 0 10px;
}

.modules-left {
  padding: 0 20px;
}

.modules-center {
  padding: 0 10px;
}
#battery.charging,
#battery.plugged {
  color: @sapphire;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#backlight-slider {
  min-width: 150px;
}
#backlight-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}
#backlight-slider trough {
  min-height: 10px;
  min-width: 10px;
  border-radius: 5px;
  background-color: @base;
  border: 1px solid @overlay0;
}
#backlight-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: @overlay0;
  border: none;
}
